.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: white;
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
  z-index: 5;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
  z-index: 100;
}

.close{
  font-size: 1.5rem;
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 2rem;
  cursor: pointer;
  background-color: #f2efec;
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
  z-index: 3;
  padding-top: 10px;
}

.cart-closed:hover {
  transform: rotate(5deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}

#checkout{
  font-size: 1.1rem;
  padding: 5px 10px;
  background-color: #f2efec;
  border: 1px #f2efec solid;
  border-radius: 20px ;
  cursor: pointer;
}

#checkout:hover{
  background-color: #1bcf94;
  color: white;
  border: 1px #1bcf94 solid;
  transition: all ease-in 0.2s;
}

h3{
  font-size: 1.2rem;
}

@media screen and (max-width: 1200px) {
  .cart {
    position: fixed;
    max-width: 50%;
    height: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
    background-color: inherit;
    background-color: white;
    z-index: 5;
  }

  .cart-closed {
    bottom: 2%;
    right: 2%;
    position: fixed;
    margin: 0 auto;
  }

  .close{
    z-index: 10;
  }

  .cart-closed:hover {
    transform: rotate(5deg);
  }

  #checkout{
    margin-top: 40px;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: #f2efec;
    border: 1px #f2efec solid;
    border-radius: 20px ;
    cursor: pointer;
  }
  
  #checkout:hover{
    background-color: #1bcf94;
    color: white;
    border: 1px #1bcf94 solid;
    transition: all ease-in 0.2s;
  }

  h3{
    font-size: 1rem;
  }

}